{% extends "personal/header.html" %}

{% block content %}
    <div class="row">
	  <div class="col-md-offset-4 col-md-4 list-group">
        {% for post in object_list %}
          <a href="/blog/{{post.id}}" class="list-group-item list-group-item-action">
            <center><h4 class="list-group-item-heading">{{ post.date|date:"Y-m-d" }}</h4></center>
            <center><p class="list-group-item-text"> {{post.title}}</p></center>
          </a>
	   {% endfor %}  
	  </div> 
    </div>
{% endblock %}
